body {
    font-family: -apple-system, sans-serif;
    background-color: #000000;
    color: #eee;
    color-scheme: dark;
    margin-left: 400px;
    margin-right: 400px;
    max-width: 35em;
    text-justify: inter-word;
    text-align: justify;
    text-rendering: optimizelegibility;
    font-kerning: normal;
    padding: 50px;
    font-size: 20px;
    line-height: 1.7em;

}

.no-justify {
    text-align: left !important;
}

.hasTopMarginSmall {
    margin-top: 5px;
}

.hasNegativeBottomMarginNormal {
    margin-bottom: -10px;
}

.yourMom {
    position: fixed;
    top: 1rem;
    right: 1rem;
    --theme-primary: 55 66 140;
    background: rgba(var(--theme-primary) / .5);
    border: 1px solid rgba(var(--theme-primary) / 1);
    border-radius: 4px;
    padding: .5rem;
    backdrop-filter: blur(4px) saturate(1.2);
    -webkit-backdrop-filter: blur(4px) saturate(1.2); /*sufferi only*/
    z-index: 1000;
    width: 340px;
}

.sect h1, .sect h2 {

}

.container {
    position: relative;
    height: 700px;
    border: 1px solid #888;
    border-radius: 12px;
    overflow: hidden;
    margin-left: -500px;
    margin-right: -500px;
}

.container-tbp {
    position: relative;
    height: 500px;
    background-position: center bottom;
    background-repeat: repeat;
    background-size: 874px 260px;
    margin-left: -500px;
    margin-right: -500px;
}

.isTextCentered { text-align: center; }


.centerOfMass {
    position: absolute;
    width: 11px;
    top: 50%;
    left: 50%;
    margin-left: -5.5px;
    margin-top: -5.5px;
    z-index: 998;
}

.mass2,
.mass3,
.mass1 {
    position: absolute;
    width: 60px;
    top: -1000px;
    left: -1000px;
    z-index: 1000;
}

/*.mass1-twobody,*/
/*.mass2-twobody {*/
/*    position: absolute;*/
/*    width: 60px;*/
/*    top: -1000px;*/
/*    left: -1000px;*/
/*    z-index: 1000;*/
/*}*/



/*.EarthOrbitSimulation-centerOfMass {*/
/*    position: absolute;*/
/*    width: 11px;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin-left: -5px;*/
/*    margin-top: -5px;*/
/*    z-index: 998;*/
/*}*/

.mass2-twobody {
    position: absolute;
    width: 60px;
    top: -1000px;
    -webkit-animation:spin .1s linear infinite;
    -moz-animation:spin .1s linear infinite;
    animation:spin .10s linear infinite;
    z-index: 1000;
}

.mass1-twobody {
    position: absolute;
    width: 60px;
    top: -1000px;
    -webkit-animation:spin .5s linear infinite;
    -moz-animation:spin .5s linear infinite;
    animation:spin .5s linear infinite;
    z-index: 1001;
}



.bodyImage {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.spin {
    -webkit-animation:spin .5s linear infinite;
    -moz-animation:spin .5s linear infinite;
    animation:spin .5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.canvas { display: block; }


.isUnselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}


.ModeratelyUnwellSlider{
    width: 100%;
    margin: .7rem 0;
}

.sliderMass1.ModeratelyUnwellSlider {
    accent-color: #d72e3a;
}

.sliderMass2.ModeratelyUnwellSlider {
    accent-color: #4ccdd2;
}

.sliderMass3.ModeratelyUnwellSlider {
    accent-color: #6746ff;
}