on:
  push:
    branches:
      - master

permissions: write-all

jobs:
  minify:
    name: Minify JS and CSS files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ github.token }}
      - name: Auto Minify
        uses: nizarmah/auto-minify@v2.1
        with:
          overwrite: true
      - name: Auto committing minified files
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Minified File"
          branch: ${{ github.ref }}
